@{
    ViewBag.Title = "Home Page";
}

<div class="bg-img">

    <main>
        <div class="row ms-auto">
            <div class="col-3"></div>
            <div class="col-6">
                <h2 class="mt-5 text-white">Traccia la tua spedizione</h2>
                @using (Html.BeginForm("Tracking", "Home", FormMethod.Post))
                {
                    <div class="form-group mb-3">
                        <input type="text" placeholder="Codice Fiscale/P.Iva" class="form-control p-3" id="CodiceFiscale" name="CodiceFiscale" required>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Tracking Code (12 caratteri)" class="form-control" id="codTracciamento" name="codTracciamento" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn track-button border border-white border-3 rounded-0 rounded-end p-3">Traccia</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-3"></div>
        </div>


        <p class="text-danger">@TempData["Message"]</p>

    </main>
</div>